@using Common
@{
    ViewBag.Title = "Index";

    bool isAuthorizedUser = User.IsInRole(RocRole.User) || User.IsInRole(RocRole.Manager) || User.IsInRole(RocRole.Admin);      
    bool isPowerUser = User.IsInRole(RocRole.Manager) || User.IsInRole(RocRole.Admin);
    bool isSuperUser = User.IsInRole(RocRole.Admin);
    string urlGetUserGroup = Url.Action("GetUserGroups", "Home");
}

<div>
    <button @(isAuthorizedUser ? "" : "disabled")>User</button>
    <button @(isPowerUser ? "" : "disabled")>Manager</button>
    <button @(isSuperUser ? "" : "disabled")>Admin</button>
</div>


<div class="left_panel">
    <textarea rows="20" cols="80" placeholder="SAML content" readonly style="resize:none">@ViewBag.SamlContent</textarea>
</div>

<div class="right_panel">


    <div>
        @using (Html.BeginForm("CreateUser", "Account", FormMethod.Post, new {id = "createUserForm"}))
        {
            <fieldset>
                <legend>Create User:</legend>
                <label class="form_label">First Name:</label><input name="firstname"  type="text" /><br>
                <label class="form_label">Last Name:</label><input name="lastname"  type="text" /><br>
                <label class="form_label">Email/Username:</label><input name="username"  type="text" /><br>
                <label class="form_label">Client:</label><select name="client" class="form_field" ><option>Hospital System A</option><option>Hospital System B</option><option>Default Tenant</option></select><br>
                <label class="form_label"></label><input type="submit" value="Create" />
            </fieldset>
            if (ViewBag.CreateUserStatus != null && ViewBag.CreateUserStatus != "") { 
                <label style="color:red;width:400px">@ViewBag.CreateUserStatus</label>
            }
            if (ViewBag.UserCreatedStatus != null && ViewBag.UserCreatedStatus != "") { 
                <label style="color:green;width:400px">@ViewBag.UserCreatedStatus</label>
            }
        }
    </div>
    
    <div><button style="float: right; margin-top: 20px; margin-bottom: 10px" onclick="refreshUserGroups('@urlGetUserGroup', '#userGroupsPartial')">Refresh</button></div>
    <div style="margin-top: 30px" id="userGroupsPartial">
        @{Html.RenderPartial("GetUserGroups", new List<UserGroup>());}
    </div>
    
    <script src="~/Scripts/red.js"></script>
</div>
